<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>

<div class="container">

    <form class="form" action="" method="get">
        <div class="form-group">
            <label for="name">Username:</label>
            <input type="text" class="form-control col-4" id="pwd"
                   name="name"
                   placeholder="username">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br>
    {% extends 'user.html' %}
    {% block content %}
    {% endblock %}
</div>

</body>

</html>