<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No user</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<form class="form" action="" method="get">
    <div class="alert alert-warning alert-dismissable">
        <button type="submit" class="close"  data-dismiss="alert" aria-hidden="true">&times; </button>
        <strong>Warning!</strong> Better , check if the username is correct.
    </div>
</form>
</body>

</html>